.validation {
    background-color: var(--validationColor);
}

.cancel {
    background-color: var(--cancelColor);
}

.clickable {
    cursor: pointer;
}

.clickable:hover {
    background-color: var(--secondaryColor);
}

.littleSpaceLeft {
    margin-left: 0.5rem;
}

.spaceLeft {
    margin-left: 1rem;
}

.bigSpaceLeft {
    margin-left: 2rem;
}
