.validation {
    background-color: var(--validationColor);
}

.cancel {
    background-color: var(--cancelColor);
}

.clickable {
    cursor: pointer;
}

.clickable:hover {
    background-color: var(--secondaryColor);
}

