h1, h2 {
    margin: 0.5rem;
}

dialog {
    width: 30rem;
    height: 20rem;
    background-color: var(--primaryColor);
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 15px 0px var(--shadowColor);
    padding: 0.5rem;
}

button {
    padding: 0.2rem;
    border-radius: 0;
    border: none;
    background: var(--secondaryColor);
    margin: 0.2rem;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    transform: translate(-2px, -2px);
    box-shadow: 2px 2px 5px -2px var(--shadowColor);
}

button:active {
    transform: translate(0px, 0px);
    box-shadow: 0px 0px 0px 0px var(--shadowColor);
}

button:disabled {
    background: var(--grey);
    cursor: auto;
}

a {
    cursor: pointer;
}

input {
    flex: 1 0 auto;
    border: none;
    border-bottom: 1px var(--grey) solid;
    outline: none;
    background-color: var(--o-input-background-color, transparent);
}

input[type="color"] {
    height: 1rem;
}

textarea {
    border: none;
    border-bottom: 1px var(--grey) solid;
    outline: none;
    background-color: rgba(0, 0, 0, 0.05);
    width: 30rem;
    height: 3rem;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    border: var(--textPrimaryColor) solid 1px;
    text-align: center;
}

table th {
    border: var(--textPrimaryColor) solid 1px;
    padding: 0.5rem;
}

table td {
    border: var(--textPrimaryColor) solid 1px;
    padding: 0.2rem;
}

legend select {
    font-size: x-large;
    font-weight: bold;
}

fieldset {
    padding: 1rem;
}
