button {
    padding: 0.2rem;
    border-radius: 0;
    border: none;
    background: var(--secondaryColor);
    margin: 0.2rem;
    cursor: pointer;
}

button:disabled {
    background: var(--grey);
    cursor: auto;
}

a {
    cursor: pointer;
}

input {
    flex: 1 0 auto;
    width: auto;
    border: none;
    border-bottom: 1px var(--grey) solid;
    outline: none;
    background-color: var(--o-input-background-color, transparent);
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    border: black solid 1px;
    text-align: center;
}

table th {
    border: black solid 1px;
    padding: 0.5rem;
}

table td {
    border: black solid 1px;
    padding: 0.2rem;
}

