:root {
    --textPrimaryColor: black;
    --textSecondaryColor: white;

    --primaryColor: white;
    --secondaryColor: #8ABD91;
    --tertiaryColor: #009f83;
    --shadowColor: #2d2d30;

    --validationColor: #00ff00;
    --cancelColor: #ff0000;
    --disabledColor: #636363;
}

:root.dark-theme {
    --textPrimaryColor: white;
    --textSecondaryColor: black;

    --primaryColor: #2d2d30;
    --secondaryColor: #8ABD91;
    --tertiaryColor: #009f83;
    --shadowColor: white;

    --validationColor: #00ff00;
    --cancelColor: #ff0000;
    --disabledColor: #636363;
}

*:not(a, dialog) {
    margin: 0;
    padding: 0;
    color: var(--textPrimaryColor);
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: var(--primaryColor);
    font-family: system-ui, sans-serif;
}

#app {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

footer {
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--secondaryColor);
}